<div id="account-container">
    <div class="columns top-img">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="card card-info card-info-main">

                <div class="card-contents-main">
                    <h2><b>Account Information</b></h2>
                    {{#if user.local.email }}
                    <p>
                        <strong>id</strong>: {{ user._id }}<br>
                        <strong>email</strong>:{{ user.local.email }}<br>
                        {{!-- <strong>password</strong>: {{ user.local.password }} --}}
                        <strong>password</strong>: [hidden]
                    </p>
                    <a href="/unlink/local"><b><br />Unlink</b></a>
                    {{else}}
                    <a href="/connect/local">Connect Local</a>
                    {{/if}}

                </div>


            </div>

        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card card-info">
                <div class="card-contents">

                    <i class="fab fa-facebook"></i>

                    {{#if user.facebook.token }}
                    <p>
                        <strong>id</strong>: {{ user.facebook.id }}<br>
                        <strong>token</strong>: {{ user.facebook.token }}<br>
                        <strong>email</strong>: {{ user.facebook.email }}<br>
                        <strong>name</strong>: {{ user.facebook.name }}<br>
                    </p>
                    <a href="/unlink/facebook">Unlink</a>
                    {{else}}
                    <a href="/connect/facebook">Facebook<br />Connect</a>
                    {{/if}}
                </div>

            </div>
        </div>



        <div class="column">
            <div class="card card-info">
                <div class="card-contents">

                    <i class="fab fa-twitter"></i>

                    {{#if user.twitter.token }}
                    <p>
                        <strong>id</strong>: {{ user.twitter.id }}<br>
                        <strong>token</strong>: {{ user.twitter.token }}<br>
                        <strong>email</strong>: {{ user.twitter.email }}<br>
                        <strong>name</strong>: {{ user.twitter.name }}<br>
                    </p>
                    <a href="/unlink/twitter">Unlink</a>
                    {{else}}
                    <a href="/connect/twitter">Twitter<br />Connect</a>
                    {{/if}}

                </div>
            </div>

        </div>


        <div class="column">
            <div class="card card-info">
                <div class="card-contents">
                    <i class="fab fa-google-plus"></i>

                    {{#if user.google.token }}
                    <p>
                        <strong>id</strong>: {{ user.google.id }}<br>
                        <strong>token</strong>: {{ user.google.token }}<br>
                        <strong>email</strong>: {{ user.google.email }}<br>
                        <strong>name</strong>: {{ user.google.name }}<br>
                    </p>

                    <a href="/unlink/google">Unlink</a>
                    {{else}}
                    <a href="/connect/google">Google<br />Connect</a>
                    {{/if}}

                </div>

            </div>

        </div>

    </div>
</div>